body {
	padding: 20px 0;
}

.radio-inline {
	padding-top: 0 !important;
}

.glyphicon-question-sign {
	color: #1f5299;
	margin-left: 10px;
}

.help-inline {
	margin-left: 0.5em;
	color: #737373
}

.space-after {
	margin-bottom: 20px;
}

body.chip .patient {
	width: 16em;
}

body.chip .number {
	width: 4em;
}

