@(user: securesocial.core.Identity)(implicit request: RequestHeader)

@main("The CHIP Study", Some(user)) {

	<h1 class="space-after"><img alt="The CHIP Study" src="@routes.Assets.at("chip.png")"></h1>

	<div id="definition_template" class="hidden alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Definition.</strong> <span></span>
	</div>

	<form name="chip" action="" class="form-horizontal" role="form">

		<fieldset>
			<div class="form-group">
				<div class="col-md-3">
					<label for="">Patient number</label>
				</div>
				<div class="col-md-6">
					<input type="text" name="patient" class="patient">
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<div class="col-md-3">
					<label for="">Signs and symptoms</label>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label class="" for="fracture">
							<input type="checkbox" name="fracture" id="fracture">
							Signs of skull fracture
							<span class="glyphicon glyphicon-question-sign" title="Signs of skull fracture - any injury suggesting a skull fracture, such as palpable discontinuity of the skull, leakage of cerebrospinal fluid, 'raccoon eye' bruising, and bleeding from the ear"></span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
					</div>
					<div class="checkbox">
						<label for="contusion">
							<input type="checkbox" name="contusion" id="contusion"> Contusion of the skull
							<span class="glyphicon glyphicon-question-sign" title="Contusion of the skull - clinically significant discontinuity of the skin or extensive bruising"></span>
						</label>
					</div>
					<div class="checkbox">
						<label for="vomit">
							<input type="checkbox" name="vomit" id="vomit"> Vomiting
						</label>
					</div>
					<div class="checkbox">
						<label for="loc">
							<input type="checkbox" name="loc" id="loc"> Loss of consciousness
							<span class="glyphicon glyphicon-question-sign" title="Loss of consciousness - either witnessed or reported by the patient"></span>
						</label>
					</div>
					<div class="checkbox">
						<label for="seizure">
							<input type="checkbox" name="seizure" id="seizure"> Post-traumatic seizure
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<label for="age" class="col-md-3">Patient age</label>
				<div class="col-md-6">
					<input id="age" type="number" name="age" class="number">
					<span class="help-inline">years (16 or above)</span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-6">
					<div class="checkbox">
						<label for="act">
							<input id="act" type="checkbox" name="act"> Use of anticoagulant therapy
							<span class="glyphicon glyphicon-question-sign" title="Use of anticoagulant therapy - coumarin derivatives or noniatrogenic coagulopathy"></span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<div class="col-md-3">
					<label for="">Mechanism of injury</label>
				</div>
				<div class="col-md-6">
					<div class="radio">
						<label for="fall">
							<input id="fall" type="radio" name="mechanism" value="fall">
							Fall from any elevation
						</label>
					</div>

					<div class="radio">
						<label for="cyclist">
							<input id="cyclist" type="radio" name="mechanism" value="cyclist">
							Pedestrian/cyclist versus vehicle
						</label>
					</div>

					<div class="radio">
						<label for="ejected">
							<input id="ejected" type="radio" name="mechanism" value="ejected">
							Ejected from vehicle
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<div class="col-md-3">
					<label for="">
						GCS score upon presentation
					</label>
				</div>
				<div class="col-md-6">
					<label for="gcs015" class="radio-inline">
						<input id="gcs015" type="radio" name="gcs0" value="15"> 15
					</label>
					<label for="gcs014" class="radio-inline">
						<input id="gcs014" type="radio" name="gcs0" value="14"> 14
					</label>
					<label for="gcs013" class="radio-inline">
						<input id="gcs013" type="radio" name="gcs0" value="13"> 13
					</label>
					<span class="glyphicon glyphicon-question-sign" title="GCS - Glasgow Coma Scale"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-3">
					<label for="gcs1">
						GCS score after one hour 
					</label>
				</div>
				<div class="col-md-6">
					<input type="number" name="gcs1" id="gcs1" class="number">
					<span class="help-inline">(3-15)</span>
					<span class="glyphicon glyphicon-question-sign" title="GCS - Glasgow Coma Scale (range 3-15)"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-3">
				<label for="">Post-traumatic amnesia</label>
				</div>
				<div class="col-md-6">
					<label class="radio-inline" for="ptanone">
						<input id="ptanone" type="radio" name="pta" value="0"> none
					</label>
					<label class="radio-inline" for="pta0">
						<input id="pta0" type="radio" name="pta" value="0"> up to 2 hours
					</label>
					<label class="radio-inline" for="pta2">
						<input id="pta2" type="radio" name="pta" value="2"> 2-4 hours
					</label>
					<label class="radio-inline" for="pta4">
						<input id="pta4" type="radio" name="pta" value="4"> more than 4 hours
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-6">
					<div class="checkbox">
						<label for="memory">
							<input type="checkbox" name="memory" id="memory">
							Persistent anterograde amnesia
							<span class="glyphicon glyphicon-question-sign" title="Persistent anterograde amnesia - short-term memory deficit"></span>
						</label>
					</div>

					<div class="checkbox">
						<label for="deficit">
							<input type="checkbox" name="deficit" id="deficit">
							Neurologic deficit
							<span class="glyphicon glyphicon-question-sign" title="Neurologic deficit - any abnormality on routine clinical neurologic examination"></span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>

	</form>

	<script src="@routes.Assets.at("chip.js")"></script>
}
