@(user: securesocial.core.Identity, form: Form[ChipCase])(implicit request: RequestHeader, flash: Flash)

@fieldErrors(fields: Field*) = {
	@if(fields.exists(_.hasErrors)) {
		@fields.map(_.errors.map(error => Messages(error.message, error.args: _*))).flatten.toSet.mkString(", ")
	}
}

@main("The CHIP Study", Some(user)) {

	@if(form.hasErrors) {
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Please fix the validation errors.
		</div>
	}

	<div id="definition_template" class="hidden alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Definition.</strong> <span></span>
	</div>

	<form name="chip" action="@routes.Application.save" method="post" class="form-horizontal" role="form">

		<fieldset>
			@defining(form("patient").hasErrors) { hasErrors =>
				<div class="form-group @if(hasErrors) {has-error}">
					<label class="col-md-3 control-label" for="patient">Patient number</label>
					<div class="col-md-6">
						<input id="patient" type="text" name="patient" class="patient form-control" value="@form("patient").value">
						<span class="help-inline">
							@if(hasErrors) {
								@fieldErrors(form("patient"))
							} else {
								Required
							}
						</span>
					</div>
				</div>
			}
		</fieldset>

		<fieldset>
			<div class="form-group">
				<label class="control-label col-md-3" for="">Signs and symptoms</label>
				<div class="col-md-6">
					<div class="checkbox">
						<label class="" for="fracture">
							<input type="checkbox" name="fracture" id="fracture" @if(form("fracture").value) {checked} value="true">
							Signs of skull fracture
							<span class="glyphicon glyphicon-question-sign" title="Signs of skull fracture - any injury suggesting a skull fracture, such as palpable discontinuity of the skull, leakage of cerebrospinal fluid, 'raccoon eye' bruising, and bleeding from the ear"></span>
						</label>
					</div>
					<div class="checkbox">
						<label for="contusion">
							<input type="checkbox" name="contusion" id="contusion" @if(form("contusion").value) {checked} value="true">
							Contusion of the skull
							<span class="glyphicon glyphicon-question-sign" title="Contusion of the skull - clinically significant discontinuity of the skin or extensive bruising"></span>
						</label>
					</div>
					<div class="checkbox">
						<label for="vomit">
							<input type="checkbox" name="vomit" id="vomit" @if(form("vomit").value) {checked} value="true">
							Vomiting
						</label>
					</div>
					<div class="checkbox">
						<label for="loc">
							<input type="checkbox" name="loc" id="loc" @if(form("loc").value) {checked} value="true">
							Loss of consciousness
							<span class="glyphicon glyphicon-question-sign" title="Loss of consciousness - either witnessed or reported by the patient"></span>
						</label>
					</div>
					<div class="checkbox">
						<label for="seizure">
							<input type="checkbox" name="seizure" id="seizure" @if(form("seizure").value) {checked} value="true">
							Post-traumatic seizure
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			@defining(form("age").hasErrors) { hasErrors =>
				<div class="form-group @if(hasErrors) {has-error}">
					<label for="age" class="col-md-3 control-label">Patient age</label>
					<div class="col-md-6">
						<input id="age" type="number" name="age" class="number form-control" value="@form("age").value">
						<span class="help-inline">
							@if(hasErrors) {
								@fieldErrors(form("age"))
							} else {
								Years (16 or above), required
							}
						</span>
					</div>
				}
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-6">
					<div class="checkbox">
						<label for="act">
							<input id="act" type="checkbox" name="act" @if(form("act").value) {checked} value="true">
							Use of anticoagulant therapy
							<span class="glyphicon glyphicon-question-sign" title="Use of anticoagulant therapy - coumarin derivatives or noniatrogenic coagulopathy"></span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<label class="control-label col-md-3" for="fall">Mechanism of injury</label>
				<div class="col-md-6">
					<div class="radio">
						<label for="fall">
							<input id="fall" type="radio" name="mechanism" value="fall">
							Fall from any elevation
						</label>
					</div>

					<div class="radio">
						<label for="cyclist">
							<input id="cyclist" type="radio" name="mechanism" value="cyclist">
							Pedestrian/cyclist versus vehicle
						</label>
					</div>

					<div class="radio">
						<label for="ejected">
							<input id="ejected" type="radio" name="mechanism" value="ejected">
							Ejected from vehicle
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
				<label class="control-label col-md-3" for="gcs015">
					GCS score upon presentation
				</label>
				<div class="col-md-6">
					<label for="gcs015" class="radio-inline">
						<input id="gcs015" type="radio" name="gcs0" value="15"> 15
					</label>
					<label for="gcs014" class="radio-inline">
						<input id="gcs014" type="radio" name="gcs0" value="14"> 14
					</label>
					<label for="gcs013" class="radio-inline">
						<input id="gcs013" type="radio" name="gcs0" value="13"> 13
					</label>
					<span class="glyphicon glyphicon-question-sign" title="GCS - Glasgow Coma Scale"></span>
				</div>
			</div>

			@defining(form("gcs1").hasErrors) { hasErrors =>
				<div class="form-group @if(hasErrors) {has-error}">
					<label class="control-label col-md-3" for="gcs1">
						GCS score after one hour
					</label>
					<div class="col-md-6">
						<input type="number" name="gcs1" id="gcs1" class="number form-control" value="@form("gcs1").value">
						<span class="help-inline">
						@if(hasErrors) {
							@fieldErrors(form("gcs1"))
						} else {
							(3-15)
							<span class="glyphicon glyphicon-question-sign" title="GCS - Glasgow Coma Scale (range 3-15)"></span>
						}
						</span>
					</div>
				</div>
			}

			<div class="form-group">
				<label class="control-label col-md-3" for="ptanone">Post-traumatic amnesia</label>
				<div class="col-md-6">
					<label class="radio-inline" for="ptanone">
						<input id="ptanone" type="radio" name="pta" value="0"> none
					</label>
					<label class="radio-inline" for="pta0">
						<input id="pta0" type="radio" name="pta" value="0"> up to 2 hours
					</label>
					<label class="radio-inline" for="pta2">
						<input id="pta2" type="radio" name="pta" value="2"> 2-4 hours
					</label>
					<label class="radio-inline" for="pta4">
						<input id="pta4" type="radio" name="pta" value="4"> more than 4 hours
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-6">
					<div class="checkbox">
						<label for="memory">
							<input type="checkbox" name="memory" id="memory" @if(form("memory").value) {checked} value="true">
							Persistent anterograde amnesia
							<span class="glyphicon glyphicon-question-sign" title="Persistent anterograde amnesia - short-term memory deficit"></span>
						</label>
					</div>

					<div class="checkbox">
						<label for="deficit">
							<input type="checkbox" name="deficit" id="deficit" @if(form("deficit").value) {checked} value="true">
							Neurologic deficit
							<span class="glyphicon glyphicon-question-sign" title="Neurologic deficit - any abnormality on routine clinical neurologic examination"></span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>

		<div class="form-group">
			<div class="col-md-offset-3 col-md-6">
				<button class="btn btn-primary">Save Case</button>
			</div>
		</div>
	</form>

	<script src="@routes.Assets.at("chip.js")"></script>
}
